@font-face {
    font-family: "FasterOne";
    src: url("fonts/FasterOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rubik-bold";
    src: url("fonts/Rubik-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: bold;
}